<% if total_count.present? && total_count > 0 %>
	<h5 class='total_count'><%= total_count %></h5>
	<table>
		<thead>
			<tr>
				<th>Sr No.</th>
				<th>Name</th>
				<th>Fork Count</th>
				<th>Issues count</th>
			</tr>
		</thead>
		<tbody>
			<% items.each_with_index do |item, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= link_to item['full_name'], item['html_url'], target: "_blank" %></td>
					<td><%= item['forks_count'] %></td>
					<td><%= item['open_issues_count'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h5>No Match found</h5>
<% end %>


<style type="text/css">
	table, tr, td, th{
		border: 1px solid black;
	}
</style>